%h1 Edit Client Profile
= bootstrap_form_for(@client_profile, role: 'client_profile_form') do |f|
  = f.text_field :name
  = f.hidden_field :client_id
  = f.hidden_field :user_id
  = f.submit "Update Client Profile"
