%h1 Edit Client Profile
= bootstrap_form_for(@client_profile) do |f|
  = f.text_field :name
  = f.hidden_field :client_id
  = f.hidden_field :user_id
  = f.number_field :rate
  = f.submit "Update Client Profile"
