%div{role: 'summary'}
  .row.interval.interval--summary{role: 'interval_summary'}
    .col-sm-offset-3.col-sm-1{role: 'total'}
      =summary.total_hours
    .col-sm-1{role: 'total'}
      =summary.total_earned
    .col-sm-1{role: 'rage'}
      =summary.average_rate

  - summary.sub_intervals.each do |interval|
    .row.interval.interval--primary{role: 'interval'}
      .col-sm-3{role: 'title'}
        %strong= interval.title
      .col-sm-1{role: 'total'}
        %strong= interval.total_hours
      .col-sm-1{role: 'earned'}
        %strong= interval.total_earned
      .col-sm-1{role: 'rate'}
        %strong= interval.average_rate
    = render "sub_interval", interval: interval
    %hr
