- summary = Timelog::Summary.new(current_user.clients.map(&:timelogs).flatten)
%div{role: 'interval_summary'}

  .row.interval.interval--summary
    .col-sm-offset-3.col-sm-1{role: 'total'}
      =summary.total_hours

  - summary.sub_intervals.each do |interval|
    .row.interval.interval--primary{role: 'interval'}
      .col-sm-offset-3.col-sm-1{role: 'total'}
        %strong= interval.total_hours
    - interval.sub_intervals.each_with_index do |sub_interval, index|
      .row.interval.interval--secondary{role: 'sub_interval'}
        .col-sm-3.text-right{role: 'title'}
          - if index == interval.sub_intervals.size - 1
            %span= sub_interval.pre_title
            = sub_interval.title
          - else
            = sub_interval.title
        .col-sm-1{role: 'total'}
          = sub_interval.total_hours
