= render "timelogs/add_hour", client: @client
- summary = @client.log_summary
%div{role: 'interval_summary'}

  .row
    .col-md-3.text-right{role: 'title'}
      =summary.title
    .col-md-3{role: 'total'}
      =summary.total_hours
    .col-md-3{role: 'per_profile'}
      = summary.per_profile

  - summary.sub_intervals.each do |interval|
    .row{role: 'interval'}
      .col-md-3.text-right{role: 'title'}
        = interval.title
      .col-md-3{role: 'total'}
        = interval.total_hours
      .col-md-3{role: 'per_profile'}
        = interval.per_profile
    - interval.sub_intervals.each do |sub_interval|
      .row{role: 'sub_interval'}
        .col-md-3.text-right{role: 'title'}
          = sub_interval.title
        .col-md-3{role: 'total'}
          = sub_interval.total_hours
        .col-md-3{role: 'total'}
          = sub_interval.per_profile
